*{
    margin: 0;
    padding: 0;
}
.header{
    min-height: 100vh;
    height: 100vh;
    width: 100%;
    background-image: url("./imgee.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

html, body {
    height: 10%;
}
nav{
    display:flex;
    padding:2% 6%;
    justify-content:space-between;
    align-items: center;

}


.navlinks{
    flex:1;
    text-align: right;
}

.navlinks ul li{
    list-style: none;
    display:inline-block;
    padding: 8px 12px;
    position:relative;
}
.navlinks ul li a{
    color: rgb(99, 25, 155);
    text-decoration: none;
    font-size: 17px;
}
.navlinks ul li::after{
    content:'';
    width:0%;
    height:2px;
    background-color: rgb(238, 172, 6);
    display:flex;
    margin:none;
    transition: 0.5s;
}

.navlinks ul li:hover::after{
    width:100%
}

.text-box{
    width:90%;
    color:goldenrod;
    font-size: 21px;
    
   
}
.hero input{
    width: 240px;
    height: 35px;
    border-bottom: 1px solid hwb(30 4% 67%);
    border-left: 1px solid hwb(30 4% 67%);
    border-top: 1px solid hwb(30 4% 67%);
    border-right: 1px solid hwb(30 4% 67%);
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
    display: inline-block;
    

}

.btn{
    width:24opx;
    height: 35px;
    text-align: justify;
    margin-top: 17px;
    font-weight: bolder;
    
}

.btn2{

    width:60px;
    height:35px;
    text-align: justify;
    margin-top: 0px;
    font-weight: bolder;
    background-color: #fff;
    margin-left: 10px;
    display: inline-block;
}

#outputDiv{
    margin:50px;
    position: relative;
    width:240px;
    height:100px;
    border:2px solid #434640;
    font-size: 20px;
    font-weight: bolder;
    color:#4e3713;
    text-align: center;
    align-items: center;
    justify-content: center;
    display:flex;
    margin-left: 0cm;
    
}
#loader{
    position: absolute;
    bottom: 10px;
    left:50%;
    transform:translateX(-50%);
    border: 4px solid rgba(211, 211, 211, 0.917);
    border-top: 4px solid rgb(40, 5, 5);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 1s linear infinite;


}



@keyframes spin{
    100%{transform :rotate(360deg);}

}
